/* .box {
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* -------------------Стили хедера--------------- */

/* -------------Стили логотипа----------------- */

/* -------------------Стили Героя-------------------- */

/* ---------------------Преимущества-------------------- */

/* ---------------------Чем мы занимаемся------------------ */

/* -------------------------Наша команда--------------------- */

/*------------------------Стили для логотипов компаний----------------- */

/* --------------Стили футера-------------- */

/* ------------------------Стили для portfolio.html-------------------  */

/* Стили для модального окна и бекдропа */
