.navigation > .logo {
  margin-right: 93px;
}
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--main-accent-color);
}
.logo-header {
  color: var(--black-color);
}
.logo-footer {
  color: var(--second-accent-color);
}
