@mixin centeredFlex($j-c: center, $a-i: center) {
  display: flex;
  justify-content: $j-c;
  align-items: $a-i;
}
@mixin sectionPaddings($p-bottom: 94px) {
  padding-top: 94px;
  padding-bottom: $p-bottom;
}
